%h1.logo Quote It
%div.offset4.span12
  %form{:action => url_for(:show) }
    %p
      %input.span8.xlarge{:placeholder => 'URL for quote', :name => 'u'}
      %input.span2.btn.primary{:type => :submit, :value => 'Quote It' }

.page-header
  %h2
    About <span class="brand">QuoteIt</span>
    %small thumbnail/quote boilerplate
.row
  .span5
    %h3 About
    %p <span class="brand">QutoteIt</span> provides API to get the thumbnail image and the clip of a web resource. This reduce a boilerplate code from some URL expanding plugin(e.g. wiki macro, grease monkey, and others).
  .span5
    %h3 Support service
    %ul
      %li=link_to('Twitter','http://twitter.com')
      %li=link_to('Twitpic','http://twitpic.com')
      %li=link_to('yfrog','http://yfrog.com')
      %li=link_to('YouTube','http://youtube.com')
      %li=link_to('NicoVideo','http://www.nicovideo.jp')
      %li ... and more
      %p="You could see a full-list at #{link_to('supported services', url_for(:services))} page."
  .span5
    %h3 Related Tools
    %ul
      %li
        %a{:href=>'http://asakusasatellite.heroku.com'} AsakusaSatellite
      %li
        %a{:href=>'https://github.com/mzp/redmine_quoteit_wikimacro'} Redmine wiki macro
.page-header
  %h2 Example
%dl
  %dt Get thumbnail from <a href='http://twitpic.com/73wiod'>http://twitpic.com/73wiod</a>
  %dd=url_link(url_for(:show, :u=>'http://twitpic.com/73wiod'))
  %dt Get clip from <a href='https://twitter.com/#!/twitter/status/91890490089275392'>https://twitter.com/#!/twitter/status/91890490089275392</a>
  %dd=url_link(url_for(:show, :u=>'https://twitter.com/#!/twitter/status/91890490089275392'))

  %h2 Donation
  %p
    %a{:href=>'http://www.pledgie.com/campaigns/16272'}
      %img{:alt=>'Click here to lend your support to: QuoteIt and make a donation at www.pledgie.com !',
           :src=>'http://www.pledgie.com/campaigns/16272.png?skin_name=chrome'}

