.page-header
  %h1
    Plugins
    %small
      Current supported services
%p You can see latest list and upgrade at <a href=#{url_for(:wedata_index)}>upgrade</a> page.
%h2 Thumbnail
%ul
  - @thumbnails.each do|item|
    %li
      %a{:href=>item.url}=item.name
%h2 Web clip
%ul
  - @htmls.each do|item|
    %li
      %a{:href=>item.url}=item.name

