%h1 Supported services
%p="You can see latest list and upgrade at <a href=#{url_for(:wedata_index)}>wedata</a> page."
%h2 Thumbnail
%ul
  - @thumbnails.each do|item|
    %li
      %a{:href=>item.url}=item.name
%h2 Content clip
%ul
  - @htmls.each do|rule|
    - if rule[:url]
      %li=link_to rule[:service],rule[:url]
    - else
      %li=rule[:service]


