%form{:action => url_for(:show) }
  %p
    %input.span8.xlarge{:placeholder => 'URL for quote', :name => 'u', :value=> @url}
    %input.span2.btn.primary{:type => :submit, :value => 'Quote It' }

.page-header
  %h2 Preview
%div.preview.row{:Style=>'vertical-align:middle'}
  %div.span8.page!=@page
  %div.span7
    %h3 Thumbnail
    - if @thumbnail
      %input.span7{:value=> @thumbnail}
    - else
      unavailable
    %h3 HTML Source
    %textarea.span7.xlarge{:rows=>3}=@page
.page-header
  %h2 API
%h3 Thumbnail
%dl
  %dt Get JSON
  %dd=url_link(url_for(:page, :thumbnail, :u => @url, :format => :json))
  %dt Get Plain text
  %dd=url_link(url_for(:page, :thumbnail, :u => @url, :format => :txt))
  %dt Redirect thumbnail image
  %dd=url_link(url_for(:page, :thumbnail, :u => @url, :format => :jpg))
%h3 Content
%dl
  %dt Get JSON
  %dd=url_link(url_for(:page, :html, :u => @url, :format => :json))
  %dt Get HTML
  %dd=url_link(url_for(:page, :html, :u => @url, :format => :html))



