body {
  padding-top: 40px; }

.brand {
  font-variant: small-caps; }

.logo {
  text-align: center;
  font-size: 64px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  font-variant: small-caps; }

.credits {
  text-align: center; }

.page {
  padding: 10px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: 1px 1px 2px #999999;
  -webkit-box-shadow: 1px 1px 2px #999999;
  border: 1px solid #999999; }

.main {
  padding-top: 20px; }
