!!!5
%html
  %head
    %meta{'http-equiv'=>'content', :content=>'text/thml; charset=utf-8'}
    %meta{:name => "content-style-type", :content => "text/css"}
    %meta{:name => "content-script-type", :content => "text/javascript"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28034605-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
    = stylesheet_link_tag 'bootstrap.min', 'codemirror', 'codemirror/theme/default', 'main'
    = yield_content :include
    = favicon_tag 'favicon.png'
    - if @title
      %title="#{@title} - Quote It"
    - else
      %title Quote It - quote webpage contents
  %body
    .topbar
      .fill
        .container
          %a.brand{:href=>'/'} Quote It
          %ul.nav
            %li
              %a{:href=>'/'} Home
            %li
              =link_to 'Plugins', url_for(:services)
            %li
              =link_to 'Upgrade', url_for(:wedata_index)
            %li
              =link_to 'Sandbox', url_for(:sandbox_index)
            %li
              =link_to 'Docs(ja)', 'http://readthedocs.org/docs/quoteit/en/latest/'
            %li
              =link_to 'About', url_for(:about)
    .container
      .main.row
        - if flash[:notice]
          .alert-message.success
            %p=flash[:notice]
        =yield
    %footer.credits
      %p="Copyright (C) 2011 <a href='http://codefirst.org'>codefirst.org</a>. All rights reserved."
